* {
  padding:0;
  margin:0;
  font-family: sans-serif;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color:black;
}

.login {
  margin-top:20vh;
  display:flex;
  flex-wrap:wrap;
  width:100vw;
  height:30vh;
  justify-content: center;
  align-items: center;
}

h1 {
  width:100vw;
  text-align: center;
  color:#333;
}

.login form {
  display:flex;

  border-radius: 11px;
  border: 1px solid #ccc;
}

.login input {
  height:50px;
  width:300px;
  padding:10px;
  margin:0;
  border: 0;
  background-color: #eee;
  border-radius: 10px 0 0 10px;
}

.login button {
  height:50px;
  margin:0;
  padding:10px;
  border: 0;
  background-color: #ccc;
  border-radius: 0 10px 10px 0;
  color: #555;
  font-weight: 700;
}

.newgame {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:20vh;
}

.newgame a {
  padding: 20px;
  font-weight:700;
  border-radius:5px;
  border:1px solid black;
  background-color: #ddd;
}

.title {
  display:flex;
  height:10vh;
  justify-content: center;
  align-items: center;
}

.running {
  display:flex;
  flex-wrap:wrap;
  height:30vh;
  justify-content: center;
  align-items: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.running h2 {
  width:95vw;
}

.games {
  display:flex;
  width:95vw;
}

.games div {
  width:150px;
  background:#ccc;
  border:1px solid black;
  border-radius:5px;
  margin:10px;
}

.games div h3 {
  width:150px;
  background-color:#aaa;
  border-radius:5px 5px 0 0;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
}

.games div p {
  padding-left:5px;
  padding-top:3px;
  padding-bottom:3px;
  height:20px;
  overflow: hidden;
  width:145px;
  display:flex;
  justify-content: space-between;
}

.games div p:nth-child(2n+1) {
}

.games div p:nth-child(2n) {
  background-color:#ddd;
}

.games button{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  font-weight:700;
  border:0;
  height:20px;
  border-radius: 0 0 5px 5px;
  background-color: #aaa;
}


.hand {
position:relative;
bottom:-20px;
display:flex;
align-items:center;
justify-content:center;
width:100vw;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
transform: rotateX(-5deg);
}

.hand label {
  transform-style: preserve-3d;
  box-shadow: 15px -15px 15px rgba(20,20,20,0.75);
  padding:0;
  max-height:200px;
}

.handwrap {
  perspective: 150px;
  position: absolute;
  bottom:0;
}
  .card {
    width:111px;
    height:200px;
    margin-left:-26px;
    margin-top:0;
    transition: margin 0.5s, filter 0.25s;
    filter: sepia(20%);


    position: relative;
  }

  .card:hover {
    transition: margin 0.5s;
    margin-top:-50px;
  }

input[type="radio"]:checked + label {
    border-radius:10px;
    background-color: silver;
    margin-top:-50px;
    transition: margin 0.5s, filter 0.25s;
    filter: sepia(60%);
}

.ccc {
  position:absolute;
  padding:5px;
  bottom:-20px;
  border-radius: 5px;
}
input[type="radio"]:checked ~ .ccc {
  position:absolute;
  bottom:25px;
  width:200px;
  font-weight:700;
  font-size:24px;
  transition: bottom 0.5s;
}

input[type="radio"].a0:checked ~ div label.a0 {
    border-radius:12px;
    border:3px solid #999;
    transition: filter 0.25s;
    filter: sepia(20%);
    z-index:10;
}

input[type="radio"]#a1:checked ~ div label.a1 {
    border-radius:12px;
    border:3px solid #999;
    transition: filter 0.25s;
    filter: sepia(20%);
    z-index:10;
}

input[type="radio"]#a2:checked ~ div label.a2 {
    border-radius:12px;
    border:3px solid #999;
    transition: filter 0.25s;
    filter: sepia(20%);
    z-index:10;
}

input[type="radio"]#a3:checked ~ div label.a3 {
    border-radius:12px;
    border:3px solid #999;
    background-color: #999;
    transition: filter 0.25s;
    filter: sepia(20%);
    z-index:10;
}

input[type="radio"] {
  display:none;
}

label {
  display:flex;
  justify-content: center;
  align-items: center;
  width:111px;
}


  img {
    width:100%;
    height:100%;
  }

  .tisch {
    position:absolute;
    width:450px;
    top:32.5vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

.top {
  background-color:rgba(150,150,150,0.75);
  width:100vw;
  z-index: 1;
  display:flex;
}

.opp {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:-10;
}

.opp .hiddenwrap:nth-child(1) {
  position:relative;
  z-index:-10;
  display:flex;
  transform:rotate(90deg);
  top:37.5vh;
  left:-42.5vh;;
  width:100vh;
  display: flex;
  justify-content: center;

}
.opp .hiddenwrap:nth-child(1) .hiddencard {
margin-left:-30px;
}
.opp .hiddenwrap img {
width:111px;
height:200px;
filter:sepia(20%);
}

.opp .hiddenwrap:nth-child(2) {
  position:relative;
  display:flex;
  justify-content: center;
  height:200px;
  transform:rotate(180deg);
  z-index:-10;
  top:-275px;
  margin:auto;
  left:0;
  right:0;

}

.opp .hiddenwrap:nth-child(2) .hiddencard {
margin-left:-20px;
}

.opp .hiddenwrap:nth-child(3) {
  position:absolute;
  width:100vw;
  display:flex;
  justify-content: center;
  height:200px;
  transform:rotate(270deg);
  z-index:-10;
  right:-47.5%;
  top:37.5vh;
}

.opp .hiddenwrap:nth-child(3) .hiddencard {
margin-left:-30px;
}

#lstich {
  position:absolute;
  top:0;
  right:0;
  display:flex;
  width:300px;
  height:150px;
  opacity:0.8;
}

#lstich img {
  max-width:75px;
  max-height:150px;
  filter:grayscale(90%);
}

#lstich + span {
  position: absolute;
  top:75px;
  right:0;
  width:290px;
  background-color:rgba(100,100,100,0.75);
  text-align:center;
  padding:5px;
  font-weight:700;
  color:#eee;
  letter-spacing: 1.5;
}
